.sidebar-box{
  /* width: 20%; */
  /* background-color: aqua; */
  background-color: aliceblue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100vh;
  padding: 2rem;
}
.sidebar-box li{
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}