h1{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin:2rem 0
}



.allpatient table{
  width: 100%;
  /* background-color: rgb(140, 149, 190);s */
  border-collapse: collapse;
}
table,tr,td{
  border: 2px solid black;
}
tr,td{
  text-align: center;
}