h1{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin:1rem 0
}

/* 

.allpatient table{
  width: 100%;
  border-collapse: collapse;
}
table,tr,td{
  border: 2px solid black;
}
tr,td{
  text-align: center;
} */

thead{
  background-color: rgb(95 111 255);
  color:white
}