.footer-div{
  display: flex;
  gap: 3rem;
}
.foo{
  display: flex;
  flex-direction: column;
  flex: 30%;
  color:rgb(75 85 99);
  /* line-height: 1rem; */
  
}
.foo h2{
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
}
.foo1{
  flex: 50%;
}
.footer-div .logo{
  height: 2rem;
}
.footer-main-div{
  padding: 3rem 1rem;
}
.foo-content{
  margin-top: 2rem;
}
.foo li{
  list-style: none;
  margin-bottom: 10px;
  /* margin-top: 2px; */
}