.doctor-card{
  background-color: #ffffff;
  width: 15rem;
  border-radius: 10px;
  border: 1px solid rgb(201 216 255);
 
}
.doctor-card h4{
 font-size: 1.2rem;
 font-weight: 700;
}
.doctor-card img{
  height: 13rem;
  width: 100%;
  /* width: 100%;
  height: auto; */
}
.doctor-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.img-doc-bg{
  background-color: rgb(234 239 255);
  border-radius: 10px 10px 0 0;
}
.doc-status{
  color:rgb(34 197 94);
  display: flex;
  justify-content: center;
  align-items: center;
}