.form-common{
  display: flex;

}
.left-form{
  flex: 40%;
}
.right-form{
  flex: 50%;
  padding: 4rem;
}
.row{
  display: flex;
  gap: 2rem;
}
.row input{
  margin-top: 2rem;
  border-bottom: 2px solid black;
  width: 100%;
  /* position: relative; */
}
.submit-btn{
  background-color: rgb(95 111 255);
  width: 100%;
  height: 2.2rem;
  color: #ffffff;
  margin-top: 2rem;
  border-radius: 10px;
}
.role-select{
  width: 70%;
}
.col{
  position: relative;
}
/* .me-2{
  margin-right: 1rem;
} */
 /* input{
  position: relative;
 } */
 .error-message{
  color:red;
  position: absolute;
  top:4rem

  /* position: relative;
  top: 20%; */
  /* position: ;
  bottom: 2px; */
 }